---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import CardsWrapper from "../components/CardsWrapper.astro";
---

<Layout>
  <Header />
  <main class="cards">
    <CardsWrapper>
      <Card>
        <p>hdhdhdhdh</p>
        <p>hdhdhdhdh</p>
        <p>hdhdhdhdh</p>
        <p>hdhdhdhdh</p>
        <p>hdhdhdhdh</p>
      </Card>
    </CardsWrapper>
  </main>
</Layout>
