---
---

<div class="card">
  <slot />
</div>

<style lang="scss">
  @import "../scss/_variables.scss";

  .card {
    background-color: $light-theme-card-bg-light-blue;
    border-radius: rem(5);
  }
</style>
